AIRFLOW_UID=1000

CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=

MINIO_STORAGE_LOCATION=~/data/minio
MINIO_PORT=9001 
MINIO_CONSOLE_PORT=9091 
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

MINIO_BUCKET_RAW=raw
MINIO_BUCKET_SILVER=silver